@import "tailwindcss";

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px) translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
